<a href="https://colab.research.google.com/github/tretyasha/-/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd

In [13]:
df=pd.read_csv('sample_data/california_housing_test.csv')

Прочесть с помощью pandas файл california_housing_test.csv,который находится в папке sample_data

Посмотреть сколько в нем строк и столбцов 

Определить какой тип данных имеют столбцы

In [14]:
df.shape

(3000, 9)

In [15]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

Проверить есть ли в файле пустые значения
Показать median_house_value где median_income<2
Показать данные в первых двух столбцах
Выбрать данные где housing_median_age<20 и median_house_value>7000

In [19]:
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [24]:
df[df.median_income<2][['median_house_value','median_income']]

      median_house_value  median_income
5                67000.0         1.6635
6                67000.0         1.6641
16              181300.0         1.8750
28              350000.0         1.5830
43               79300.0         0.9838
...                  ...            ...
2943             57200.0         1.6563
2964             91300.0         1.1434
2985            109400.0         1.8633
2986             85400.0         1.1346
2995            225000.0         1.1790

[360 rows x 2 columns]

In [35]:
# df.columns 
# for i in df.columns[:2]:
  # print (df[i])
# df[['longitude','latitude']]

df[df.columns[:2]]

      longitude  latitude
0       -122.05     37.37
1       -118.30     34.26
2       -117.81     33.78
3       -118.36     33.82
4       -119.67     36.33
...         ...       ...
2995    -119.86     34.42
2996    -118.14     34.06
2997    -119.70     36.30
2998    -117.12     34.10
2999    -119.63     34.42

[3000 rows x 2 columns]